---
Checks:
  - *
  - -fuchsia-*
  - -google-*
  - -zircon-*
  - -abseil-*
  - -modernize-use-trailing-return-type
  - -llvm-*
  - -llvmlibc-*'
  - -bugprone-easily-swappable-parameters
CheckOptions:
  misc-non-private-member-variables-in-classes: IgnoreClassesWithAllMemberVariablesBeingPublic
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
