---
Checks: >
  *,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -abseil-*,
  -modernize-use-trailing-return-type,
  -llvm-*,
  -llvmlibc-*,
  -bugprone-easily-swappable-parameters,
  -altera-unroll-loops,
  -cppcoreguidelines-pro-type-reinterpret-cast
CheckOptions:
  misc-non-private-member-variables-in-classes: IgnoreClassesWithAllMemberVariablesBeingPublic
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
